body {
    font-family: 'Times New Roman';
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin-left: 20px;
}

button {
    padding: 10px;
    margin: 20px;
    min-width: 100px;
}

.question {
    font-size: 20px;
    font-weight: bold;
}

#resultat {
    min-height: 1.5em;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#tables-selection {
    margin: 20px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, 20px 80px);
    grid-gap: 20px;
    min-width: 400px;
    justify-items: start;
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .checkbox-container {
        grid-template-columns: repeat(2, 20px 100px);
    }
}

.resultat-bon {
    color: green;
    font-weight: bold;
}

.resultat-mauvais {
    color: red;
    font-weight: bold;
}

.revenir-selection-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.revenir-selection {
    margin-top: 50px;
}

.resultatfinal-bon {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.resultatfinal-moyen {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

.resultatfinal-mauvais {
    font-size: 20px;
    color: red;
    font-weight: bold;
}