body {
    font-family: 'Times New Roman';
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin-left: 20px;
}

button {
    padding: 10px;
    margin: 20px;
    min-width: 100px;
}

.question {
    font-size: 20px;
    font-weight: bold;
}

#resultat {
    min-height: 1.5em;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#tables-selection {
    margin: 20px;
    max-width: 670px;
}

.resultat-bon {
    color: green;
    font-weight: bold;
}

.resultat-mauvais {
    color: red;
    font-weight: bold;
}

.revenir-selection-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.revenir-selection {
    margin-top: 50px;
}

.resultatfinal-bon {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.resultatfinal-moyen {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

.resultatfinal-mauvais {
    font-size: 20px;
    color: red;
    font-weight: bold;
}